@font-face {
	font-family: ClearfaceStd-Regular;
	src: url(/assets/fonts/ClearfaceStd-Regular.otf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: ClearfaceStd-Bold;
	src: url(/assets/fonts/ClearfaceStd-Bold.otf);
	font-weight: 600;
	font-style: bold;
}

:root {
    --serif: "ClearfaceStd-Bold", serif;
    --sans: "Nunito Sans", sans;
	-webkit-font-smoothing: antialiased;
	/* Light theme variables */
    --bg-color-light: #F5F2EB;
    --color-1-light: #373531;
    --color-2-light: #908B80;
    --color-3-light: #A8A195;
    --color-4-light: #EAE6DF;
    --blue-light: #7594B0;
    --logo-filter-light: brightness(0) invert(59%) sepia(9%) saturate(355%) hue-rotate(3deg) brightness(91%) contrast(86%);

	/* Dark theme variables */
    --bg-color-dark: #21211E;
    --color-1-dark: #EAE6DF;
    --color-2-dark: #A8A195;
    --color-3-dark: #908B80;
    --color-4-dark: #373531;
    --blue-dark: #98B1C7;
    --logo-filter-dark: brightness(0) invert(95%) sepia(6%) saturate(192%) hue-rotate(360deg) brightness(98%) contrast(90%);


	/* Themed variables */
    --bg-color: var(--bg-color-light);
    --selection-bg-color: #CBC3B4;
    --selection-color: #FFFFFF;
    /* Shades of color, ordered darkest (1) to lightest (n) */
    --color-1: var(--color-1-light);
    --color-2: var(--color-2-light);
    --color-3: var(--color-3-light);
    --color-4: var(--color-4-light);
    --logo-filter: var(--logo-filter-light);
    --highlight: var(--color-1-light);

    /* In case I want an off-shade of black/white */
    --black: #000000;
    --gray: #888888;
    --white: #FFFFFF;

    /* A muted rose red */
    --red: #B07676;
    /* derivative of #EFBD8D */
    --orange: #D8A06B;
    /* A softened yellow */
    --yellow: #B0A675;
    /* derivative of #AAC4A2 */
    --green: #6D8A64;
    /* derivative of #8CB2D3 */
    --blue: var(--blue-light);
    /* A muted indigo */
    --indigo: #757AB0;
    /* derivative of #D2B0EC */
    --purple: #9F79BC;

    /* Trying to standardize some of the font sizes */
    --font-lg: 28px;
    --header-height: 41px;
}

:root.dark-theme {
	/* Themed variables */
    --bg-color: var(--bg-color-dark);
    --selection-bg-color: #CBC3B4;
    --selection-color: #FFFFFF;
    --color-1: var(--color-1-dark);
    --color-2: var(--color-2-dark);
    --color-3: var(--color-3-dark);
    --color-4: var(--color-4-dark);
    --blue: var(--blue-dark);
    --logo-filter: var(--logo-filter-dark);
    --highlight: var(--color-1-dark);
}

/*** Works on common browsers ***/
::selection{
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
}
/*** Mozilla based browsers ***/
::-moz-selection{
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
}

/***For Other Browsers ***/
::-o-selection{
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
}

::-ms-selection{
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
}

/*** For Webkit ***/
::-webkit-selection{
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
}

body {
    margin: 0;
    background: var(--bg-color);
	transition: all 0.3s ease;
	text-rendering: optimizeSpeed;
}

.coming-soon {
	display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

h1 {
	font-family: var(--serif);
	font-size: 120px;
}

p {
	font-family: var(--sans);
}
